
<br>
<h2 style="text-align: center;">Education Details📚🎓</h2>
<br>
<table class="table table-striped table-dark table-responsive">
    <thead>
      <tr>
        <th scope="col">Qualification</th>
        <th scope="col">Institution Name</th>
        <th scope="col">Board/University</th>
        <th scope="col">Stream</th>
        <th scope="col">City</th>
        <th scope="col">Year of Passing</th>
        <th scope="col">Marks Obtained</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <!-- <th scope="row">1</th> -->
        <td>Bachelor of Engineering (BE)</td>
        <td>N.M.A.M. Institute of Technology Nitte</td>
        <td>Nitte University</td>
        <td>Information Science and Engineering</td>
        <td>Karkala</td>
        <td>2023</td>
        <td>8.54 CGPA</td>
      </tr>
      <tr>
        <!-- <th scope="row">2</th> -->
        <td>XII</td>
        <td>S.R Pre-University College Hebri</td>
        <td>Department of 
            Pre-University 
            Education,
            Government of 
            Karnataka</td>
        <td>Science(PCMB)</td>
        <td>Hebri</td>
        <td>2019</td>
        <td>90.83%</td>
      </tr>
      <tr>
        <!-- <th scope="row">3</th> -->
        <td>X</td>
        <td>S.R Public School Hebri</td>
        <td>Central Board of Secondary Education (CBSE)</td>
        <td>CBSE</td>
        <td>Hebri</td>
        <td>2017</td>
        <td>9.6 CGPA</td>
      </tr>
    </tbody>
    
  </table>
  <br>
  <p class="hidden-mobile" style="color: rgb(181, 180, 180);">Note: If you are using mobile phones kindly scroll left/right because this table is made responsive:)</p>
  <br>


