.col-lg-6,.col-sm-12{
    margin-top: 15px;
    padding-top: 15px;
}
span{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.hey{
    background: url(../../assets/certificate.jpg);
}