<div class="styling">
<div class="container" style=" padding: 30px;">
  <h2 style="text-align: center;">MY PROJECTS 👨‍💻</h2><br>

<div class="row">
  <div class="col">
  <div *ngFor="let project of projects" style="margin-top: auto; justify-content: center;">
    <div class="card center">
    <div class="card-body">
      <h5 class="card-title">{{project.id}} - {{project.name}}</h5>
      <p class="card-text">{{project.description}}</p>
      <p class="card-text">{{project.tech}}</p>
      <p class="card-text">{{project.tools}}</p>
      <a href={{project.link}} class={{project.cls}} target="_blank" class="btn btn-primary">Live Project</a>
    </div>
  </div>
  <br><br>
  </div>
  

</div>
</div>




<br>
<br>
<br>
</div>
</div>
