<div class="skills container">
    <br>
    <h3 style="text-align: center;">🚀 Languages and Tools: 🚀</h3>
    <br>
    <div class="row styling">
    
        <div class="col col-lg-3 col-sm-4">
            <a href="https://www.w3.org/html/" target="_blank"> <img src="https://img.icons8.com/color/48/000000/html-5.png"/> </a> <span> HTML 5</span>
        </div>
        <div class="col col-lg-3 col-sm-4">
            <a href="https://www.w3.org/html/" target="_blank"> <img style="height: 50px;width: auto;" src="../../assets/angular.png"/> </a> <span> Angular Js</span>
        </div>
        <div class="col col-lg-3 col-sm-4">
            <a href="https://www.w3schools.com/css/" target="_blank"> <img src="https://img.icons8.com/color/48/000000/css3.png"/> </a><span> CSS 3</span>
        </div>
        <div class="col col-lg-3 col-sm-4">
            <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank"> <img src="https://img.icons8.com/color/48/000000/javascript.png"/> </a><span> JavaScript</span>
        </div>
        <div class="col col-lg-3 col-sm-4">
            <a href="https://getbootstrap.com" target="_blank"> <img src="https://img.icons8.com/color/48/000000/bootstrap.png"/> </a><span> Bootstrap 4</span>
        </div>
        <div class="col col-lg-3 col-sm-4">
            <a href="https://www.python.org" target="_blank"> <img style="height: 50px;width: auto;" src="../../assets/sql.png"/> </a> <span> SQL</span>
        </div>
        <div class="col col-lg-3 col-sm-4">
            <a href="https://www.java.com" target="_blank"> <img src="https://img.icons8.com/color/48/000000/java-coffee-cup-logo.png"/> </a><span> JAVA</span>
        </div>
        <div class="col col-lg-3 col-sm-4">
            <a href="https://expressjs.com" target="_blank"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/express/express-original-wordmark.svg" alt="express" width="40" height="40"/> </a><span> Express Js</span>
        </div>
        <div class="col col-lg-3 col-sm-4">
            <a style="padding-right:8px;" href="https://nodejs.org" target="_blank"> <img src="https://img.icons8.com/color/48/000000/nodejs.png"/> </a> <span> Node Js</span>
        </div>
        <div class="col col-lg-3 col-sm-4">
            <a href="https://www.mongodb.com/" target="_blank"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mongodb/mongodb-original-wordmark.svg" alt="mongodb" width="48" height="48"/> </a> <span> MongoDB</span>
        </div>
        <div class="col col-lg-3 col-sm-4">
            <a href="https://postman.com" target="_blank"> <img src="https://www.vectorlogo.zone/logos/getpostman/getpostman-icon.svg" alt="postman" width="45" height="45"/> </a>   <span> Postman</span>
        </div>
        <div class="col col-lg-3 col-sm-4">
            <a href="https://git-scm.com/" target="_blank"> <img src="https://img.icons8.com/color/48/000000/git.png"/> </a><span> Git</span>
        </div>
    </div><br><br>
    <br>
  </div>