<!-- heading -->

<div class="jumbotron" style="color: white; background-image: url(../../assets/background.jpg); background-position: center;
background-repeat: no-repeat;
background-size: cover;">
  <div class="row">
    <div class="col-lg-9">
      <h1 class="display-4" style=" font-weight: bold; font-style:italic">Hello, world! I am NIREEKSH </h1><br>
      <h3 class="lead">Looking for an opportunity to Secure a responsible career to fully utilize my training and skills, while making a significant contribution to the success of the company</h3><br>
      <hr class="my-4">
      <p>Looking for a Role of Full Stack Developer</p>
      <p class="lead"><br>
        <a class="btn btn-primary btn-lg" role="button" href="../../assets/Nireeksh.pdf" download>Download CV</a>
        <br><br>
      </p>
    </div>
    <div class="col-lg-3">
      <img src="../../assets/hello.gif" alt="heyy">
     
    </div>
    
  </div>
    
  </div>
  
<app-skills></app-skills>
<app-contact></app-contact>
